.row
  .span12
    %h1.page-header
      Hotels
    %p.lead
      We have booked rooms at a discounted rate at the Travelodge hotel in Downtown Windsor.
    %p
      %span.label.label-important
        important
      %span.text-important
        Reservations must be received by 
        %strong
          December 7, 2012.

.row
  .span5
    .well
      %address
        %h2
          Travelodge Downtown
        33 Riverside Drive East
        %br/
        Windsor, Ontario
        %br/
        N9A 2S4
      %address
        %strong
          Phone:
        519-258-7774
      %address
        %strong
          Fax:
        519-258-0020
      .address
        %strong
          Email:
        %a{href: "mailto:whg7120fom@whg.com"}
          whg7120fom@whg.com
  .span7
    .well
      %h2
        Booking Information
      %strong
        Group Name:
      Meloche / Spriet Wedding
      %br/
      %strong
        Group Dates:
      December 28 &amp; 29, 2012
      %br/
      %strong
        Room Rates:
      .offset1
        %strong
          City View:
        $82.00 +  Tax (1-2 persons)
      .offset1
        %strong
          River View:
        $92.00 +  Tax (1-2 persons)
      .offset1
        %strong
          Additional Persons:
        $10 extra for each person
      .offset1
        %strong
          Self Parking:
        $10/car/night

.row
  .span12
    .well.well-large
      %h2
        Hotel Map
      %iframe{:frameborder => "0", :height => "480", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => raw("https://maps.google.ca/maps?q=33+Riverside+Drive+East+Windsor,+Ontario+N9A+2S4&amp;ie=UTF8&amp;hq=&amp;hnear=33+Riverside+Dr+E,+Windsor,+Essex+County,+Ontario&amp;gl=ca&amp;t=m&amp;ll=42.32143,-83.039389&amp;spn=0.015231,0.027466&amp;z=15&amp;iwloc=A&amp;output=embed"), :width => "640"}
      %br/
      %small
        %a{:href => raw("https://maps.google.ca/maps?q=33+Riverside+Drive+East+Windsor,+Ontario+N9A+2S4&amp;ie=UTF8&amp;hq=&amp;hnear=33+Riverside+Dr+E,+Windsor,+Essex+County,+Ontario&amp;gl=ca&amp;t=m&amp;ll=42.32143,-83.039389&amp;spn=0.015231,0.027466&amp;z=15&amp;iwloc=A&amp;source=embed"), :style => "color:#0000FF;text-align:left"} View Larger Map
